{% extends '::base.html.twig' %}

{% block fos_user_content %}
    <div class="row">

        <div class="box">
            <div class="box-header">
                <div class="box-icon">
                    <a href="{{ path('contacts_add') }}" class="btn-close" title="">
                        <i class="fa fa-plus">add</i>
                    </a>
                    <a href="{{ path('contacts_export_csv') }}" class="btn-close" title="" style="padding-left: 25px;">
                        <i class="fa fa-file-o" aria-hidden="true">export</i>
                    </a>
                </div>
            </div>
            <div class="box-content">
                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                    <thead>
                    <tr class="text-center">
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contact in contacts %}
                        <tr>
                            <td>{{ contact.name }}</td>
                            <td>{{ contact.email }}</td>
                            <td>{{ contact.phone }}</td>
                            <td>{{ contact.adress }}</td>
                            <td>
                                <a href="{{ path('contacts_edit', {id: contact.id}) }}"
                                   class="btn btn-sm btn-warning">
                                    <i class="fa fa-pencil"></i> Edit
                                </a>
                                <a href="{{ path('contacts_show', {id: contact.id}) }}"
                                   class="btn btn-sm btn-success">
                                    <i class="fa fa-check"></i> See
                                </a>
                                <form action="{{ path('contacts_delete', {id: contact.id}) }}"
                                      method="POST" class="form-inline" data-action="confirm-submission"
                                      data-confirmation-message="{{ "Delete contact ?" }}"
                                      style="display: inline;">
                                    <input name="_token" type="hidden"
                                           value="{{ csrf_token('contact_delete') }}">
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        <i class="fa fa-close"></i> Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
